body{
    font-family: Arial;
    background: #fff7e6;
    padding: 20px;
}

h1{
    text-align: center;
}

.container{
    display:grid;

    grid-template-columns: 1fr 1fr 1fr;

    gap: 20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    border:2px solid black;
}